<nav id="sidebar">
  <div class="sidebar-header">
    <h3>My Lists</h3>
  </div>

  <ul class="list-unstyled components">
    <!-- <p>Lists</p> -->
    
    <li>
      <a href="#">My Day</a>
    </li>

    <li>
      <a href="#">Work</a>
    </li>
    <li>
      <a href="#">Groceries</a>
    </li>
  </ul>
</nav>
