<nav id="sidebar">
  <div id="dismiss" class="showSidebar">
    <i id="dismissArrow" class="fas fa-arrow-left"></i>
  </div>

  <div class="sidebar-header">
    <h2>Lists</h2>
  </div>

  <ul class="list-unstyled components">
    <!-- <p>Lists</p> -->
    <% listTitles.forEach(listTitle => { %>
    <li class="listLink">
      <a href="/<%= listTitle.formattedName %>"><%= listTitle.name %></a>
      <span class="deleteList" title="Delete List">&times;</span>
      <input type="hidden" name="" class="listID" value="<%= listTitle._id %>">
    </li>
    <% }); %>
    <li>
      <a
        href="#newListTitleModal"
        data-toggle="modal"
        data-target="#newListTitleModal"
        id="addNewListLink"
        >+ New List </a
      >
    </li>
  </ul>

  <div class="copyright">
    Copyright &#169; <%= currentYear %>
  </div>
</nav>
